{% extends "base.html" %}
{% block mainContentPrepend %}
{% endblock mainContentPrepend %}
{% block mainContent %}
	{% if messages %}
	<div id="messages">
	    <ul class="messages">
	        {% for message in messages %}
	        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	        {% endfor %}
	    </ul>
	</div>
	{% endif %}
	<div id="associated_logins">
	    <p class="helper">
	        Here are the logins you have associated with your account.
	    </p>

	    {% for rpxdata in rpxdatas %}
	    <dl>
	        <dt>{{ rpxdata.provider }}:</dt>
	        <dd>
	            <input type="text" class="user_identifier" value="{{ rpxdata.identifier }}" />
	            {# Logically, checking != is bad. Should be > 1. But we don't have that tag #}
	            {% ifnotequal rpxdatas|length 1 %}
	            <a href="{% url auth_delete_associated rpxdata.id %}" class="delete">(delete)</a>
	            {% endifnotequal %}
	        </dd>
	    </dl>
	    {% endfor %}
	</div>
	<div id="add_login">
	    <p>{% rpx_link "Click here to add <em>another</em> login to your account." extra rpx_response_path %}</p>
	</div>	
{% endblock mainContent %}

{% block appendScripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.delete').click(function() {
                var answer = confirm("Are you sure?")
                if (answer) { return true; }
                else { return false; };
            });
        });
    </script>
{% endblock appendScripts %}

