{% extends "base.html" %}


{% block mainContentPrepend %}
{% endblock mainContentPrepend %}
{% block mainContent %}
{# Currently, the messages here do nothing #}
{% if messages %}
<div id="messages">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<p class="helper">
    This is the first time you have logged into our site with this account.
    Please choose a username that you'd like to use and provide your email
    address.
</p>

<form action="" method="post" name="profile_form" id="profile_form">{% csrf_token %}
    {# NOTE: If you are using django 1.2, you'll need to add the csrf token here #}
    {{ form.as_p }}
    <div class="actions">
        <button type="submit" name="submit" value="Save">Save &raquo;</button>
    </div>
</form>

<div id="associate_helper">
    Or, <a href="{% url auth_associate %}">associate this account with an existing username</a>.
    <small>(Note: You must sign in with your existing account first.)</small>
</div>

{% endblock mainContent %}